<div class="container mt-4">
  <div class="row" style="min-height: 750px">
    <div class="col">

<!-- Show profile picture -->
      <div class="row profile-pic-container">
        <% if (pictures && (pictures.length >= 1)) { %>
            <div class="photo-box my-4 mr-3">
              <img src="/<%= pictures.reverse()[0].pic_path %>" alt="<%= pictures.reverse()[0].pic_name %>" class="picture-size"/>
            </div>
        <% } else { %>
            <div class="photo-box my-4 mr-3">
              <img src="/images/placeholder.jpg" class="picture-size">
            </div>
        <% } %>
      </div>

<!-- Show smaller pictures -->
<% if(pictures && (pictures.length >= 1)) { %>
  <% pictures.reverse().forEach((picture) => { %>
    <div class="photo-box-small my-4 mr-3">
      <img src="/<%= picture.pic_path %>" alt="<%= picture.pic_name %>" class="picture-size-small"/>
    </div>
<% }) %>
<% } else { %>
  <div class="photo-box-small mx-4 mt-4">
    <img src="/images/placeholder.jpg" class="picture-size-small">
  </div>
<% } %>
      <br>
    </div>

    <div class="col-6 bg-light rounded">
      <div class="row ml-2 mt-2">
        <h1 class="display-4">
          Hi, I'm <%= user.petname %>!
        </h1>
      </div>
      <hr/>
          <div class="container row">
            <div class="col-9">
              <h2>My owner: <%= user.ownername %></h2>
                <p class="bio"> <% if(user.bio) { %>
                  "<%= user.bio %>"
                  <%  } else { %>
                      "About me..."
                  <%  } %> </p>
                  <p class="l-height"><strong>Location : </strong> <%= user.location %> </p>
                  <p class="l-height"><strong>I'm a: </strong> <%= user.animaltype %> </p>
                  <p class="l-height"><strong>Species: </strong> <%= user.breed %> </p>
                  <p class="l-height"><strong>Birthdate: </strong> <%= user.birthdate %> </p>
                  <p class="l-height"><strong>Character: </strong></p>
                   <% user.character.forEach((el) => { %>
                  <p class="l-height">
                    <%= el %>
                  </p>
                    <%  }) %>
                  <br>
                  <p class="l-height"><strong>Favorite activities: </strong></p>
                  <% user.skills.forEach((el) => { %>
                  <p class="l-height">
                    <%= el %>
                  </p>
                  <%  }) %>
            </div>
            <div class="col-3 background-icon">
              <img src="/images/<%= user.sex%>-grey.png" alt="gender" class="gender-img">
            </div>
          </div>
    <hr/>
      <!-- Showing posts -->

      <div class="container">
        <% if(posts !== 'undefined') {
        posts.reverse().forEach((post) => { %>

          <!-- card with content -->
          <div class="card mx-1 px-3">
                <div class="row">
                <!-- if picture show this -->
                <% if (typeof post.picture_id[0] !== 'undefined') { %>
                  <div class="post-pictures m-3">
                    <img src="<%= post.picture_id[0] %>" alt="" class="post-img">
                  </div>
                  <div class="msg-content col-8 my-2">
                    <small class="form-text text-muted" style="font-size: 10px;">
                      <%= post.date %>
                    </small>
                    <%= post.message %>
                  </div>
                <% } else { %>
                  <div class="msg-content-only col my-3">
                    <small class="form-text text-muted" style="font-size: 10px;">
                      <%= post.date %>
                    </small>
                    <%= post.message %>
                  </div>
              <%  } %>
              </div>
              <div class="logo-flex-container like-box" id="update-like">
                <!-- likes container -->
                  <% if (post.likes.includes(user.id)) { %>
                    <div class="like-logo-box mr-2 update">
                      <a href="/post/like/<%= post.id %>"><img src="/images/bone(2).png" class="like-icon"></a>

                    </div>
                  <% } else { %>
                    <div class="like-logo-box mr-2 update">
                      <a href="/post/like/<%= post.id %>"><img src="/images/bone(4).png" class="like-icon"></a>

                    </div>
                  <% } %>
                  <p class="likes mr-2">Throw bone</p>
                  <p class="likes">+ <%= post.likesNumber %></p>
                  <div class="dropdown show ml-3">
                  <a class="dropdown-toggle likes" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Leave a comment
                  </a>
                    <div class="dropdown-menu comments" aria-labelledby="dropdownMenuLink">
                        <form class="" action="/post/comment/<%= post.id %>" method="post">
                          <textarea class="form-control comment-area" rows="2" name="comment" placeholder="Leave a comment"></textarea>
                          <button type="submit" class="btn btn-primary btn-sm ml-2">Post</button>
                        </form>
                    </div>
                  </div>
              </div>
              <% post.comments.forEach((post) => { %>
                <div class="card mb-3 p-2 lightblue">
                  <small class="comment-date"><%= post.date %></small>
                  <p class="comment-header"><strong><a href="/profile/<%= post.owner_id%>"><%= post.owner_name %></a></strong> <small> is writing: </small></p>
                  <p class="comment-msg">"<%= post.message %>"</p>
                </div>
           <% }) %>
            </div>
          <br>
          <% })
        } %>
      </div>
      <!-- <div class="container">

        <% if(typeof posts != 'undefined') { %>
          <% posts.reverse().forEach(post => { %>
          <small class="form-text text-muted ml-3" style="font-size: 10px;">
            <%= post.date %>
          </small>

          <div class="card mx-1 px-2 post-box">
            <%= post.message %>
            <div class="like-box">
              <% if (!post.likes.includes(user._id)) { %>
                <div class="logo-toggle black-b">
                    <img src="/images/bone.png" class="like-logo">
                  </div>
              <% } else { %>
              <div class="logo-toggle yellow-b">
                <img src="/images/bone-yellow.png" class="like-logo">
              </div>
              <% } %>
            </div>
          </div>
          <br>
          <% }) %>
        <% } %>
      </div> -->
    </div>

    <div class="col ml-2">
      <div class="border rounded mb-3 bg-light">
        <div class="row m-3">
          <form class="follow-form" action="/user/follow/<%= user.id %>" method="post">
            <button type="submit" name="button" class="btn btn-primary follow-btn">Follow me</button>
          </form>
          <p class="mx-auto mt-2"><%= user.followersNumber %> Followers</p>

        </div>
      </div>
      <div class="border rounded p-1 bg-white mh-100 h-100">
        <div class="border-bottom">
          <h5 class="display-6 mt-2 text-center">Find <%= user.petname %>'s friends</h5>
          <p class='text-center small'><%= user.petname %> is following <%= user.followingNumber %> pets</p>
        </div>


        <% user.followers.forEach((follower) => { %>
          <div class="d-flex flex-row d-flex justify-content-start align-items-center">
            <div class="photo-box-xsmall m-2 ">
              <img src="/<%= follower.pic %>" alt="" class="picture-size-xsmall"/>
            </div>
            <div class="mt-3">
              <p class=""> <a href="/profile/<%= follower.user_id %>"><%= follower.petname %></a>, <small><%= follower.location %></small></p>
            </div>
          </div>
      <% }) %>
      </div>

    </div>
  </div>
</div>
