<div class="container mt-4">
  <div class="row" style="min-height: 750px">
    <div class="col">

<!-- Show profile picture -->
      <div class="row profile-pic-container">
        <% if (pictures && (pictures.length > 1)) { %>
            <div class="photo-box my-4 mr-3">
              <img src="/<%= pictures[0].pic_path %>" alt="<%= pictures[0].pic_name %>" class="picture-size"/>
            </div>
        <% } else { %>
            <div class="photo-box my-4 mr-3">
              <img src="/images/placeholder.jpg" class="picture-size">
            </div>
        <% } %>
      </div>

<!-- Show smaller pictures -->
<% if(pictures && (pictures.length > 1)) { %>
  <% pictures.forEach((picture) => { %>
    <div class="photo-box-small my-4 mr-3">
      <img src="/<%= picture.pic_path %>" alt="<%= picture.pic_name %>" class="picture-size-small"/>
    </div>
<% }) %>
<% } else { %>
  <div class="photo-box-small mx-4 mt-4">
    <img src="/images/placeholder.jpg" class="picture-size-small">
  </div>
<% } %>
      <br>
    </div>

    <div class="col-6 silver">
      <div class="row ml-2 mt-2">
        <h1 class="display-4">
          Hi, I'm <%= user.petname %>!
        </h1>
      </div>
      <hr/>
      <div class="container">


       <h2>My owner: <%= user.ownername %></h2>
          <p class="l-height"><strong>About me: </strong> <%= user.bio %> </p>
          <p class="l-height"><strong>Location : </strong> <%= user.location %> </p>
          <p class="l-height"><strong>I'm a: </strong> <%= user.animaltype %> </p>
          <p class="l-height"><strong>Species: </strong> <%= user.breed %> </p>
          <p class="l-height"><strong>About me: </strong> <%= user.bio %> </p>
          <p class="l-height"><strong>I live in : </strong> <%= user.location %> </p>
          <p class="l-height"><strong>I am a: </strong> <%= user.animaltype %> </p>
          <p class="l-height"><strong>My breed: </strong> <%= user.breed %> </p>
          <img src="/images/<%= user.sex%>.png" alt="gender">
      </div>
    <hr/>
      <!-- Showing posts -->
      <div class="container">
        <% if(typeof posts != 'undefined') { %>
          <% posts.reverse().forEach(post => { %>
          <small class="form-text text-muted ml-3" style="font-size: 10px;">
            <%= post.date %>
          </small>

          <div class="card mx-1 px-2 post-box">
            <%= post.message %>
            <div class="like-box">
              <% if (!post.likes.includes(user._id)) { %>
                <div class="logo-toggle black-b">
                    <img src="/images/bone.png" class="like-logo">
                  </div>
              <% } else { %>
              <div class="logo-toggle yellow-b">
                <img src="/images/bone-yellow.png" class="like-logo">
              </div>
              <% } %>
            </div>
          </div>
          <br>
          <% }) %>
        <% } %>
      </div>
    </div>
    <div class="col border ml-2">
      <div class="h-100">
        <div class="row m-3">
          <h3 class="display-6">Following</h3>
        </div>
      </div>
    </div>
  </div>
</div>
