<div class="container mt-4" >
  <div class="row" style="min-height: 750px">
    <div class="col">
      <div class="row">
        <img src="/images/placeholder.jpg" alt="profile picture" class="rounded-circle">
      </div>
      <br>
      <div class="row mx-4 mt-4">
          <div class="col"><img src="/images/placeholder.jpg" alt="profile picture" class="rounded-circle" style="width: 50px"></div>
          <div class="col"><img src="/images/placeholder.jpg" alt="profile picture" class="rounded-circle" style="width: 50px"></div>
          <div class="w-100"></div>
          <div class="col"><img src="/images/placeholder.jpg" alt="profile picture" class="rounded-circle" style="width: 50px"></div>
          <div class="col"><img src="/images/placeholder.jpg" alt="profile picture" class="rounded-circle" style="width: 50px"></div>
      </div>
    </div>
    <div class="col-6 silver">
      <div class="row ml-2 mt-2">
        <h1 class="display-4">
          <%= foundUser.petname %>
        </h1>
      </div>
      <hr/>
      <div class="container">
        <h2>My owner: <%= foundUser.ownername %></h2>
          <p class="l-height"><strong>About me: </strong> <%= foundUser.bio %> </p>
          <p class="l-height"><strong>I live in : </strong> <%= foundUser.location %> </p>
          <p class="l-height"><strong>I am a: </strong> <%= foundUser.animaltype %> </p>
          <p class="l-height"><strong>My breed: </strong> <%= foundUser.breed %> </p>
          <img src="<% switch(user.sex) {
            case 'male': %>
              /images/male.png
              <% break;

            case 'female': %>
              /images/female.png
              <% break;

            case 'hermaphrodite': %>
              /images/herma.png
              <% break;
          } %>" alt="sex: <%= user.sex %>">

      </div>
      <hr/>
    </div>
    <div class="col border ml-2">
      <div class="h-100">
        <div class="row m-3">
          <h3 class="display-6">Following</h3>
        </div>
      </div>
    </div>
  </div>
</div>
