
<div class="container mt-4" >
  <div class="row" style="min-height: 750px">

    <div class="col-8 mx-auto silver">
      <div class="row ml-2 mt-2">
        <h1 class="display-4">
          Searchresults for '<%= search %>'
        </h1>
      </div>
      <hr/>

<% results.forEach((result) => { %>
  <% if(result !== null) { %>

  <div class="card">
    <div class="search-result-container">
      <div class="photo-box-small m-2 ">
        <img src="<%= result.pictures %>" alt="" class="picture-size-small"/>
      </div>
      <div class="link ml-4">
        <% if(result.petname) { %>
          <a href="/profile/<%= result._id %>" class="search-link"><%= result.petname %></a>
        <% } else if(result.hashtag) { %>
          <a href="/post/<%= result._id %>" class="search-link"><%= result.message %></a>
          <% } %>
      </div>
    </div>
  </div>
<% } else { %>
  <div class="container">
    <h4>No results found</h4>
  </div>
<% } %>
<% }) %>
    </div>
  </div>
</div>
