<div class="container mt-4" >
  <div class="row" style="min-height: 750px">
    <div class="col">

<!-- Show profile picture -->
      <div class="row profile-pic-container">
        <% if (pictures && (pictures.length >= 1)) { %>
            <div class="photo-box my-4 mr-3">
              <img src="/<%= pictures.reverse()[0].pic_path %>" alt="<%= pictures.reverse()[0].pic_name %>" class="picture-size"/>
            </div>
        <% } else { %>
            <div class="photo-box my-4 mr-3">
              <img src="/images/placeholder.jpg" class="picture-size">
            </div>
        <% } %>

        <!-- Photo upload button -->
          <form action="/user/upload" method="post" enctype="multipart/form-data" id="pic-upload">
            <div class="image-upload">
              <label for="pic-select">
                <img src="/images/image-add-button.png" class="upload-icon"/>
              </label>
              <input id="pic-select" type="file" name="photo"/>
            </div>
          </form>
      </div>

      <% var userLocation = user.location; %>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz3vQWI8lOLTCS2Ig-ctK8dkj5Zz58_Ic"></script>
      <script type="text/javascript">
        let ubication = <%= userLocation %>;
        function initialize() {
            var myOptions = {
                zoom: 15,
                center: ubication,
                styles: [
              {
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#f5f5f5"
                  }
                ]
              },
              {
                "elementType": "labels.icon",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#616161"
                  }
                ]
              },
              {
                "elementType": "labels.text.stroke",
                "stylers": [
                  {
                    "color": "#f5f5f5"
                  }
                ]
              },
              {
                "featureType": "administrative.land_parcel",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#bdbdbd"
                  }
                ]
              },
              {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#eeeeee"
                  }
                ]
              },
              {
                "featureType": "poi",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#757575"
                  }
                ]
              },
              {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#e5e5e5"
                  }
                ]
              },
              {
                "featureType": "poi.park",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#9e9e9e"
                  }
                ]
              },
              {
                "featureType": "road",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#ffffff"
                  }
                ]
              },
              {
                "featureType": "road.arterial",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#757575"
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#dadada"
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#616161"
                  }
                ]
              },
              {
                "featureType": "road.local",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#9e9e9e"
                  }
                ]
              },
              {
                "featureType": "transit.line",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#e5e5e5"
                  }
                ]
              },
              {
                "featureType": "transit.station",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#eeeeee"
                  }
                ]
              },
              {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#c9c9c9"
                  }
                ]
              },
              {
                "featureType": "water",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#9e9e9e"
                  }
                ]
              }
            ]
            };
            let map = new google.maps.Map(document.getElementById('map'),
                    myOptions);
            let image = '/images/marker-sb.png'
            let myMarker = new google.maps.Marker({
                    position: ubication,
                    map: map,
                    title: "I'm here",
                    icon: image
                    });
        };
        google.maps.event.addDomListener(window, "load", initialize);
      </script>
<div id="map" class="rounded"></div>




<!-- Show smaller pictures -->
<% if(pictures && (pictures.length >= 1)) { %>
  <% pictures.reverse().forEach((picture) => { %>
    <div class="photo-box-small m-2 ">
      <img src="/<%= picture.pic_path %>" alt="<%= picture.pic_name %>" class="picture-size-small"/>
    </div>
<% }) %>
<% } else { %>
  <div class="photo-box-small mx-4 mt-4">
    <img src="/images/placeholder.jpg" class="picture-size-small">
  </div>
<% } %>

      <br>
    </div>

<!-- Show use info infor column -->
    <div class="col-6 silver rounded">
      <div class="row ml-2 mt-2">
        <h1 class="display-4">
          Welcome, <%= user.petname %>!
        </h1>
      </div>

      <hr/>
      <div class="container row">
        <div class="col-9">
          <h2>My owner: <%= user.ownername %></h2>
            <p class="bio"> <% if(user.bio) { %>
              "<%= user.bio %>"
              <%  } else { %>
                  "About me..."
              <%  } %> </p>
            <p class="l-height"><strong>I live in : </strong> <%= user.city %> </p>
            <p class="l-height"><strong>I am a: </strong> <%= user.animaltype %> </p>
            <p class="l-height"><strong>My breed: </strong> <%= user.breed %> </p>
        </div>
        <div class="col-3 background-icon">
          <img src="/images/<%= user.sex%>-grey.png" alt="gender" class="gender-img">
        </div>
      </div>
      <hr/>


<!-- Section for writing post -->
            <div class="container">

              <div class="card mx-1 mb-3 p-2">
                  <form action="/post/<%= user.id %>" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                      <textarea class="form-control" rows="3" name="message" placeholder="Share your moments with <%= user.petname%>"></textarea>
                      <button type="submit" class="btn btn-outline-primary">Share</button>
                      <label for="attachment" class="btn btn-outline-secondary mt-2" id="attachment-label"> Upload picture
                        <input id="attachment" type="file" class="form-control-file" name="attach">
                      </label>
                      <label id="filename"></label>
                    </div>
                  </form>
              </div>
            </div>
            <hr/>

            <!-- <form action="/user/upload" method="post" enctype="multipart/form-data" id="pic-upload">
              <div class="image-upload">
                <label for="pic-select">
                  <img src="/images/image-add-button.png" class="upload-icon"/>
                </label>
                <input id="pic-select" type="file" name="photo"/>
              </div>
            </form> -->



<!-- Showing posts -->
            <div class="container">
              <% if(posts !== 'undefined') {
              posts.reverse().forEach((post) => { %>

                <!-- card with content -->
                <div class="card mx-1 px-3">
                      <div class="row">
                      <!-- if picture show this -->
                      <% if (typeof post.picture_id[0] !== 'undefined') { %>
                        <div class="post-pictures m-3">
                          <img src="<%= post.picture_id[0] %>" alt="" class="post-img">
                        </div>

                        <div class="msg-content col-8 my-2">
                          <small class="form-text text-muted" style="font-size: 10px;">
                            <%= post.date %>
                          </small>
                          <%= post.message %>
                        </div>
                      <% } else { %>
                        <div class="msg-content-only col my-3">
                          <small class="form-text text-muted" style="font-size: 10px;">
                            <%= post.date %>
                          </small>
                          <%= post.message %>
                        </div>
                    <%  } %>

                      <!-- else just text -->

                    </div>

                    <div class="edit-icons">
                      <img src="/images/edit.png" alt="" class="edit-icon">
                      <img src="/images/delete.png" alt="" class="edit-icon">
                    </div>

                    <% post.comments.forEach((post) => { %>
                      <div class="card mb-3 p-2 lightblue">
                        <small class="comment-date"><%= post.date %></small>
                        <p class="comment-header"><strong><a href="/profile/<%= post.owner_id%>"><%= post.owner_name %></a></strong> <small> is writing: </small></p>
                        <p class="comment-msg"><%= post.message %></p>
                        <div class="edit-icons-comment">
                          <img src="/images/delete.png" alt="" class="edit-icon">
                        </div>
                      </div>
                 <% }) %>
                  </div>
                <br>
                <% })
              } %>
            </div>
          </div>

<!-- Followers section -->
    <div class="col ml-2">
      <div class="border rounded p-1 bg-white mh-100 h-50">
        <div class="border-bottom m-2">
          <h3 class="display-6">Pets I'm following</h3>
        </div>
      </div>
    </div>
  </div>
</div>
