<div class="container mt-4" >
  <div class="row" style="min-height: 750px">
    <div class="col">

<!-- Show profile picture -->
      <div class="row profile-pic-container">
        <% if (pictures && (pictures.length >= 1)) { %>
            <div class="photo-box my-4 mr-3">
              <img src="/<%= pictures[0].pic_path %>" alt="<%= pictures[0].pic_name %>" class="picture-size"/>
            </div>
        <% } else { %>
            <div class="photo-box my-4 mr-3">
              <img src="/images/placeholder.jpg" class="picture-size">
            </div>
        <% } %>

        <!-- Photo upload button -->
          <form action="/user/upload" method="post" enctype="multipart/form-data" id="pic-upload">
            <div class="image-upload">
              <label for="pic-select">
                <img src="/images/image-add-button.png" class="upload-icon"/>
              </label>
              <input id="pic-select" type="file" name="photo"/>
            </div>
          </form>
      </div>
      




<!-- Show smaller pictures -->
<% if(pictures && (pictures.length >= 1)) { %>
  <% pictures.forEach((picture) => { %>
    <div class="photo-box-small my-4 mr-3">
      <img src="/<%= picture.pic_path %>" alt="<%= picture.pic_name %>" class="picture-size-small"/>
    </div>
<% }) %>
<% } else { %>
  <div class="photo-box-small mx-4 mt-4">
    <img src="/images/placeholder.jpg" class="picture-size-small">
  </div>
<% } %>

      <br>
    </div>
    <div class="col-6 silver rounded">
      <div class="row ml-2 mt-2">
        <h1 class="display-4">
          Welcome, <%= user.petname %>!
        </h1>
      </div>
      <hr/>
      <div class="container">
        <h2>My owner: <%= user.ownername %></h2>
          <p class="l-height"><strong>About me: </strong> <%= user.bio %> </p>
          <p class="l-height"><strong>I live in : </strong> <%= user.location %> </p>
          <p class="l-height"><strong>I am a: </strong> <%= user.animaltype %> </p>
          <p class="l-height"><strong>My breed: </strong> <%= user.breed %> </p>
          <img src="/images/<%= user.sex%>.png" alt="gender">
      </div>

<!-- Section for writing post -->
            <div class="container">
              <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                  <form action="/post/<%= user.id %>" method="post">
                    <div class="form-group">
                      <textarea class="form-control" rows="3" name="message"></textarea>

                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>


                        <div class="picture">
                          <input type="file" name="upload-picture" src='/images/photo-camera-black.png'>
                        </div>

                  </form>
                </div>
              </div>
            </div>

<!-- Showing posts -->
            <div class="container">
              <% if(posts !== 'undefined') {
              posts.reverse().forEach((post) => { %>
                <div class="card mx-1 px-2">
                  <%= post.message %>
                  <button type="like-btn" name="like">Like</button>
                </div>
                <small class="form-text text-muted ml-3" style="font-size: 10px;">
                  <%= post.date %>
                </small>
                <br>
                <% })
              } %>
            </div>
        <hr/>
    </div>

<!-- Followers section -->
    <div class="col border m-4 rounded">
      <div class="h-100">
        <div class="row m-3">
          <h3 class="display-6">Following</h3>
        </div>
      </div>
    </div>
  </div>
</div>
