<div class="container mt-4" >
  <div class="row" style="min-height: 750px">
    <div class="col">

<!-- Show profile picture -->
      <div class="row profile-pic-container">
        <% if (pictures && (pictures.length >= 1)) { %>
            <div class="photo-box my-4 mr-3">
              <img src="/<%= pictures.reverse()[0].pic_path %>" alt="<%= pictures.reverse()[0].pic_name %>" class="picture-size"/>
            </div>
        <% } else { %>
            <div class="photo-box my-4 mr-3">
              <img src="/images/placeholder.jpg" class="picture-size">
            </div>
        <% } %>

        <!-- Photo upload button -->
          <form action="/user/upload" method="post" enctype="multipart/form-data" id="pic-upload">
            <div class="image-upload">
              <label for="pic-select">
                <img src="/images/image-add-button.png" class="upload-icon"/>
              </label>
              <input id="pic-select" type="file" name="photo"/>
            </div>
          </form>
      </div>





<!-- Show smaller pictures -->
<% if(pictures && (pictures.length >= 1)) { %>
  <% pictures.reverse().forEach((picture) => { %>
    <div class="photo-box-small m-2 ">
      <img src="/<%= picture.pic_path %>" alt="<%= picture.pic_name %>" class="picture-size-small"/>
    </div>
<% }) %>
<% } else { %>
  <div class="photo-box-small mx-4 mt-4">
    <img src="/images/placeholder.jpg" class="picture-size-small">
  </div>
<% } %>

      <br>
    </div>

<!-- Show use info infor column -->
    <div class="col-6 silver rounded">
      <div class="row ml-2 mt-2">
        <h1 class="display-4">
          Welcome, <%= user.petname %>!
        </h1>
      </div>

      <hr/>
      <div class="container row">
        <div class="col-9">
          <h2>My owner: <%= user.ownername %></h2>
            <p class="bio"> <% if(user.bio) { %>
              "<%= user.bio %>"
              <%  } else { %>
                  "About me..."
              <%  } %> </p>
            <p class="l-height"><strong>I live in : </strong> <%= user.location %> </p>
            <p class="l-height"><strong>I am a: </strong> <%= user.animaltype %> </p>
            <p class="l-height"><strong>My breed: </strong> <%= user.breed %> </p>
        </div>
        <div class="col-3 background-icon">
          <img src="/images/<%= user.sex%>-grey.png" alt="gender" class="gender-img">
        </div>
      </div>
      <hr/>


<!-- Section for writing post -->
            <div class="container">

              <div class="card mx-1 mb-3 p-2">
                  <form action="/post/<%= user.id %>" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                      <textarea class="form-control" rows="3" name="message" placeholder="Share your moments with <%= user.petname%>"></textarea>
                      <button type="submit" class="btn btn-outline-success">Share</button>
                      <label for="attachment" class="btn btn-outline-secondary mt-2" id="attachment-label"> Upload picture
                        <input id="attachment" type="file" class="form-control-file" name="attach">
                      </label>
                      <label id="filename"></label>
                    </div>
                  </form>
              </div>
            </div>
            <hr/>

            <!-- <form action="/user/upload" method="post" enctype="multipart/form-data" id="pic-upload">
              <div class="image-upload">
                <label for="pic-select">
                  <img src="/images/image-add-button.png" class="upload-icon"/>
                </label>
                <input id="pic-select" type="file" name="photo"/>
              </div>
            </form> -->



<!-- Showing posts -->
            <div class="container">
              <% if(posts !== 'undefined') {
              posts.reverse().forEach((post) => { %>

                <!-- card with content -->
                <div class="card mx-1 px-3">
                      <div class="row">
                      <!-- if picture show this -->
                      <% if (typeof post.picture_id[0] !== 'undefined') { %>
                        <div class="post-pictures m-3">
                          <img src="<%= post.picture_id[0] %>" alt="" class="post-img">
                        </div>

                        <div class="msg-content col-8 my-2">
                          <small class="form-text text-muted" style="font-size: 10px;">
                            <%= post.date %>
                          </small>
                          <%= post.message %>
                        </div>
                      <% } else { %>
                        <div class="msg-content-only col my-3">
                          <small class="form-text text-muted" style="font-size: 10px;">
                            <%= post.date %>
                          </small>
                          <%= post.message %>
                        </div>
                    <%  } %>

                      <!-- else just text -->

                    </div>

                    <div class="edit-icons">
                      <img src="/images/edit.png" alt="" class="edit-icon">
                      <img src="/images/delete.png" alt="" class="edit-icon">
                    </div>
                  </div>



                <br>
                <% })
              } %>
            </div>
          </div>

<!-- Followers section -->
    <div class="col border ml-2 rounded">
      <div>
        <div class="row m-3">
          <h3 class="display-6">Following</h3>
        </div>
      </div>
    </div>
  </div>
</div>
