<div class="container mt-4" >
  <div class="row" style="min-height: 750px">
    <div class="col">
      <div class="row">
        <img src="/images/placeholder.jpg" alt="profile picture" class="rounded-circle">
      </div>
      <br>
      <div class="row mx-4 mt-4">
          <div class="col"><img src="/images/placeholder.jpg" alt="profile picture" class="rounded-circle" style="width: 50px"></div>
          <div class="col"><img src="/images/placeholder.jpg" alt="profile picture" class="rounded-circle" style="width: 50px"></div>
          <div class="w-100"></div>
          <div class="col"><img src="/images/placeholder.jpg" alt="profile picture" class="rounded-circle" style="width: 50px"></div>
          <div class="col"><img src="/images/placeholder.jpg" alt="profile picture" class="rounded-circle" style="width: 50px"></div>
      </div>
    </div>
    <div class="col-6 silver rounded">
      <div class="row ml-2 mt-2">
        <h1 class="display-4">
          Welcome, <%= user.petname %>!
        </h1>
      </div>
      <hr/>
      <div class="container">
        <h2>My owner: <%= user.ownername %></h2>
          <p class="l-height"><strong>About me: </strong> <%= user.bio %> </p>
          <p class="l-height"><strong>I live in : </strong> <%= user.location %> </p>
          <p class="l-height"><strong>I am a: </strong> <%= user.animaltype %> </p>
          <p class="l-height"><strong>My breed: </strong> <%= user.breed %> </p>
          <img src="/images/<%= user.sex%>.png" alt="gender">
      </div>

<!-- Section for writing post -->
            <div class="container">
              <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                  <form action="/post/<%= user.id %>" method="post">
                    <div class="form-group">
                      <textarea class="form-control" rows="3" name="message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
            </div>

<!-- Showing posts -->
            <div class="container">
              <% if(posts !== 'undefined') {
              posts.reverse().forEach((post) => { %>
                <div class="card mx-1 px-2">
                  <%= post.message %>
                </div>
                <small class="form-text text-muted ml-3" style="font-size: 10px;">
                  <%= post.date %>
                </small>
                <br>
                <% })
              } %>
            </div>
        <hr/>
    </div>

<!-- Followers section -->
    <div class="col border m-4 rounded">
      <div class="h-100">
        <div class="row m-3">
          <h3 class="display-6">Following</h3>
        </div>
      </div>
    </div>
  </div>
</div>
